html,
body {
    --color-white: #ffffff;
    --color-gray: #b5c3c9;
    --color-gray2: #878787;
    --color-blue: #0E0F6A;
    --color-blue2: #2C3394;
    --color-green: #42B5B7;
    --color-green2: #65B232;
    --color-shadow: rgb(27, 58, 146, 16%);
    --color-background: #f3f7f8;

    background-color: var(--color-background);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* -------------------------------- Base -------------------------------- */

button,
input {
    font-size: 1rem;
}

button,
input[type="submit"] {
    cursor: pointer;
}

.alert.alert-danger.alert-block {
    background-color: rgba(255, 92, 92, 0.781);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
}

.alert ul {
    margin: 0;
    padding: 0;
}

.alert li {
    list-style-type: none;
}

/* -------------------------------- Login Page -------------------------------- */

.login-page {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-height: 100vh;
}

.login-card {
    background-color: var(--color-white);
    box-shadow: 0 0 1rem var(--color-shadow);
    padding: 3rem 5rem;
    width: 30vw;
}

@media screen and (max-width: 1024px) {
    .login-card {
        width: 50vw;
    }
}

@media screen and (max-width: 600px) {
    .login-card {
        padding: 2rem;
        width: 70vw;
    }
}

.login-card form {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

.login-logo {
    height: 4rem;
    width: auto;
}

.login-submit {
    background-color: var(--color-green2);
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--color-shadow);
    color: var(--color-white);
    padding: 0.5rem 7rem;
}

.login-submit:hover,
.login-submit:active {
    background-color: var(--color-green);
}

@media screen and (max-width: 600px) {
    .login-submit {
        padding: 0.5rem 3rem;
    }
}

.login-card .form-field {
    align-items: stretch;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column nowrap;
    margin: 3rem 0;
    width: 100%;
}

.login-card .form-field label {
    color: var(--color-gray2);
    font-size: 0.9rem;
}

.login-card .form-field input[type="text"] {
    border: 0;
    border-bottom: 1px solid var(--color-green);
    color: var(--color-blue);
    padding: 0.5rem 0;
}

/* -------------------------------- Dashboard Page -------------------------------- */

.board-page {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    min-height: 100vh;
}

/* -------------------------------- Dashboard Aside -------------------------------- */

.board-aside {
    background-color: #FDFEFE;
    border-top-right-radius: 3rem;
    box-shadow: 0 0 1rem var(--color-shadow);
    flex: 0 0 20%;
    padding: 1rem 0;
    text-align: center;
}

.aside-button {
    background-color: var(--color-white);
    border: 0;
    border-radius: 50%;
    display: none;
    left: 1rem;
    padding: 0;
    position: fixed;
    transition: 0.1s all linear;
    top: 1rem;
    z-index: 40000;
}

.aside-button.close {
    top: calc(100% - 40px - 1rem);
}

.aside-button img {
    display: block;
    height: 40px;
    width: 40px;
}

.aside-button:hover,
.aside-button:active {
    background-color: var(--color-green);

}

@media screen and (max-width: 600px) {
    .aside-button {
        display: block;
    }

    .board-aside {
        left: -100%;
        bottom: 0;
        position: fixed;
        transition: 0.3s all linear;
        top: 0;
        z-index: 30000;
    }

    .board-aside.show {
        left: 0;
    }
}

.board-aside-logo {
    height: 3rem;
    width: auto;
}

.board-nav {
    list-style-type: none;
    padding: 0;
    position: relative;

}

.board-nav li {
    border-left: 5px solid var(--color-blue);
    display: block;
    overflow: visible;
    position: static;
    text-align: left;
    width: 105%;
}

.board-nav a {
    align-items: center;
    background-color: var(--color-white);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 0 0 1rem var(--color-shadow);
    color: var(--color-blue);
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    text-decoration: none;
    padding: 1rem;
}

.board-nav a:hover {
    background-color: var(--color-shadow);
}

.board-nav a img {
    height: auto;
    margin-right: 1rem;
    width: 1rem;
}

/* -------------------------------- Dashboard Main -------------------------------- */

.board-main {
    flex: 1 1 auto;
    padding: 1rem 2.5rem;
}

@media screen and (max-width: 600px) {
    .board-main {
        padding: 1rem;
    }
}

.board-header {
    align-items: center;
    color: var(--color-blue);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .board-header {
        align-items: flex-end;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    .board-date br {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .board-header {
        padding-left: calc(1rem + 40px);
    }
}

.board-profile {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.board-profile-initials {
    align-items: center;
    background-color: var(--color-blue);
    border-radius: 50%;
    color: var(--color-white);
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    width: 2.5rem;
}

.board-profile-arrow {
    color: var(--color-blue);
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: lighter;
    transform: rotate(180deg) scale(1, 0.5);
}

.board-profile-user {
    margin: 0 0.5rem;
    cursor: pointer;
}

.board-profile-menu {
    background-color: var(--color-white);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px var(--color-shadow);
    display: none;
    list-style-type: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 20000;
}

.board-profile-menu.show {
    display: block;
}


.board-profile-menu li {
    border-bottom: 1px solid var(--color-gray);
    width: 180px;
}

.board-profile-menu li a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    color: var(--color-blue);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
}

.board-profile-menu li img {
    height: auto;
    width: 1rem;
    margin: 0 10px;
}

.board-profile-menu li a:hover,
.board-profile-menu li a:active {
    color: var(--color-green);
}

.board-profile-menu li:last-child {
    border-bottom: 0;
}

/* -------------------------------- Dashboard Welcome -------------------------------- */

.board-welcome {
    align-items: center;
    background-color: var(--color-blue);
    border-radius: 0.5rem;
    color: var(--color-white);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 5.5rem 0 3rem 0;
    padding: 0.5rem 2rem;
    position: relative;
}

.board-welcome h1 {
    font-size: 2.5rem;
    line-height: 0.9em;
    max-width: 65%;
}

.board-welcome h1 small {
    font-size: 0.5em;
    font-weight: lighter;
}

.board-welcome img {
    position: static;
    transform: scale(1.3) translate(-20%, -10%);
}

@media screen and (max-width: 1350px) {
    .board-welcome h1 {
        max-width: 60%;
    }

    .board-welcome img {
        transform: scale(1.2) translate(-10%, -10%);
    }
}

@media screen and (max-width: 1024px) {
    .board-welcome {
        padding: 0.5rem 1rem;
    }

    .board-welcome h1 {
        max-width: 65%;
    }

    .board-welcome img {
        position: inherit;
        transform: scale(1) translate(0, 0);
        width: 30%;
    }
}

@media screen and (max-width: 600px) {

    .board-welcome {
        margin: 1rem 0;
    }

    .board-welcome h1 {
        font-size: 1rem;
        line-height: inherit;
        max-width: 100%;
    }

    .board-welcome h1 small {
        font-size: 0.9em;
    }

    .board-welcome img {
        display: none;
    }
}

/* -------------------------------- Dashboard Documentos -------------------------------- */

.board-documents-title {
    color: #161616;
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.board-documents-loading {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.board-documents-loading img {
    border-radius: 50%;
    height: auto;
    margin-bottom: 1rem;
    width: 13rem;
}

.board-documents-list {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: space-between;
    padding: 0;
}

.board-documents-list li {
    align-items: center;
    background-color: var(--color-white);
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px var(--color-shadow);
    color: var(--color-blue);
    display: flex;
    flex: 1 1 30%;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 1rem;
}

@media screen and (max-width: 1024px) {
    .board-documents-list li {
        flex: 1 1 45%;
    }
}

@media screen and (max-width: 600px) {
    .board-documents-list li {
        flex: 1 1 100%;
    }
}

.board-documents-list li img {
    flex: 0 0 auto;
    height: auto;
    width: 3rem;
}

.board-documents-list li a {
    background-color: var(--color-green2);
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--color-shadow);
    color: var(--color-white);
    flex: 0 0 auto;
    font-weight: normal;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.board-documents-list li a:hover,
.board-documents-list li a:active {
    background-color: var(--color-green);
}

.board-documents-list li .document-name {
    flex: 1 1 auto;
    padding: 0 1rem;
}


/* -------------------------------- Dashboard Refresh -------------------------------- */


.files-page-content {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
    min-height: 100vh;
}

.files-page-logo {
    display: block;
    height: auto;
    margin: 0 0 2rem 0;
    width: 10rem;
}

.files-page-loading {
    margin: 2rem 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.files-page-loading img {
    height: auto;
    width: 8rem;
}

.files-page-loading span {
    text-align: center;
}

.files-page-message {
    margin: 2rem 0;
    text-align: center;
}

.files-page-action {
    background-color: var(--color-green2);
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--color-shadow);
    color: var(--color-white);
    margin: 2rem 0 0 0;
    padding: 1rem;
}

.files-page-action:hover,
.files-page-action:active {
    background-color: var(--color-green);
}

.files-page-action:disabled {
    background-color: var(--color-gray2);
}
